body#bk-office {
    font-family: $font-family-sans-serif;
    font-size: 16px;

    a {
        color: inherit;

        &:hover {
            text-decoration: none;
        }
    }

    header {
        width: 100%;
        height: 90px;
        padding: 15px 0;
        color: #222222;

        #header-left {
            width: 30%;

            .logo-container {
                padding: 5px 0;
            }
        }

        #header-right {
            width: 60%;

            ul {
                margin: 0;

                li {
                    display: inline-block;
                    margin-left: 25px;
                    cursor: pointer;

                    a {
                        position: relative;

                        &:after {
                            content: "";
                            display: inline-block;
                            position: absolute;
                            width: 0;
                            height: 2px;
                            background-color: #FF385C;
                            top: 100%;
                            left: 0;
                            transition: width 1s;
                        }

                        &:hover:after {
                            width: 100%;
                        }

                        span {
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
    }

    aside {
        padding: 15px 5px;
        width: 250px;
        position: fixed;
        top: 90px;
        transform: translate3d(-100%,0,0);
        height: calc(100vh - 90px);
        background-color: #F7F7F7;
        border-radius: 0 25px 0 0;
        transition: transform 1s ease-out;
        overflow-y: auto;

        &.active {
            transform: translate3d(0,0,0);
            box-shadow: 10px 15px 19px -18px rgba(255,56,92,0.92);
            z-index: 999;
        }

        ul {
            padding: 0;
            list-style-type: none;
            margin-top: 30px;

            li {
                margin: 20px 0;
                padding: 5px 8px;
                cursor: pointer;
                border-radius: 20px;
                transition: background-color 0.5s;

                &.active,
                &:hover {
                    background-color: #FF385C;
                }

                i {
                    width: 18px;
                    height: 20px;
                    text-align: center;
                    margin-right: 5px;
                }
            }
        }
    }

    main {
        width: 100%;
        height: calc(100vh - 90px);
        padding: 50px 0;
        overflow-y: auto;
    }
}
//*inizio sezione lista appartamenti

#index {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .box {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 500px;
        margin: 30px 15px;
        border: 3px solid $main_color;
        border-radius: 20px;
        padding: 35px;
        text-align: left;

        #index-box-title {
          height: 70px;
        }

        h5 {
            margin-top: 5px;
        }

        img {
            max-height: 200px;
            min-height: 200px;
            object-fit: cover;
        }

        .info {
            font-size: 14px;
        }

        .btn {
            padding: 5px;
        }

        .features {
            margin-bottom: 10px;
            width: 100%;
            height: 100px;
        }
    }
}
//****fine sezione lista appartamenti


/*********************Pagina-Show*********************/
#show-header-right {
    margin-bottom: 30px;
    text-align: right;
}

#detail-title {
    margin-bottom: 30px;
}

#visibility-switch {
    display: inline-block;
    margin-right: 20px;

    .custom-control-input:checked ~ .custom-control-label::before {
        color: #fff;
        border-color: #FF385C;
        background-color: #FF385C;
    }
}

#modify-button {
    border: 1px solid #FF385C;
}

#delete-button {
    color: white;
    background-color: #FF385C;
    border: 1px solid #FF385C;
}

#show-image {
    height: 300px;
    border: 1px solid red;
    margin-bottom: 30px;
    padding: 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

#show-description {
    padding-left: 20px;
    font-weight: bold;

    span {
        font-weight: lighter;
    }
}

#show-info {
    ul {
        font-weight: bold;

        &:before {
            content:attr(aria-label);
            font-size:120%;
            font-weight:bold;
            margin-left:-15px;
        }
    }
    span {
        font-weight: lighter;
    }
}

#show-services {
    ul {
        &:before {
            content:attr(aria-label);
            font-size:120%;
            font-weight:bold;
            margin-left:-15px;
        }
    }
}

/*********************Fine-Pagina-Show*********************/

//*inizio sezione aggiungi appartamento

.numbers-form {
  display: flex;
}

#description-apartment {
  border-color: rgba(72, 72, 72, 0.2);
}

.add-apartment {
  background-color: #FF385C;
  border-color: #FF385C;
  height: 50px;
  width: 40%;
  margin-top: 2rem;
}
//*fine sezione aggiungi appartamento

@media screen and (min-width: 768px) {
    body#bk-office {
        aside {
            position: static;
            transform: translate3d(0,0,0);
            box-shadow: 10px 15px 19px -18px rgba(255,56,92,0.92);
        }

        main {
            width: calc(100% - 250px);
        }
    }

    //inizio sezione aggiungi appartamento
      .form-group {
        text-align: center;
      }
    //fine sezione aggiungi appartamento
}
@media screen and (max-width: 576px) {

    //inizio sezione aggiungi appartamento
    .numbers-form {
      display: block;
    }
    //fine sezione aggiungi appartamento
}

@media screen and (max-width: 768px) {

    #show-header-right {
        text-align: left;
    }

    #show-description {
        padding-left: 0;
    }
}
